


<section class="border">
    <div class="text-center">
        <h1>{{ projectInfo[currentText] }}</h1>
    </div>
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
    <div class="btn btn-primary" (click)="onNextItem()">Next</div>
</section>

<div class="alert alert-secondary" role="alert">
    <h2>Contract Project</h2>
    <p>Framework: Angular</p>
    <p>Application: Single Page Applaication</p>
</div>

