<section class="row g-0 position-relative mb-3 bg-light">
    <section class="col-md-6 mb-md-0 p-md-4t">
        <img src="../assets/img/s.png" class="w-100" alt="...">
    </section>
    <section class="col-md-6 p-4 ps-md-3 align-self-center">
        <h5 class="mt-0 mb-3">Tooensure Web Service | Welcome</h5>
        <p>
            Our skilled UX Designers are here waiting for you. Request after request. Make your dreams come true. We're here to make sure your journey is as afforable as possible, Offering a wide scale of services and 24hr email support. 
        </p>
        <div class="d-flex justify-content-end">
            <a class="" href="#" class="stretched-link btn btn-primary">Learn More</a>
        </div>
    </section>
</section>

<section class="row g-0 position-relative mb-3 bg-light">
    <section class="col-md-6 mb-md-3 p-md-4 order-sm-1 order-md-2">
        <img src="../assets/img/logo-cub.jpg" class="w-100" alt="...">
    </section>
    <section class="col-md-6 p-4 ps-md-4 align-self-center order-sm-2 order-md-1">
        <section class="container">
        <h5 class="mt-0 mb-3">We Build Dreams | Services</h5>
        <p>
            Host your website free, no monthly fees. Add additional services, features or intergrations, such as a "Content Mangement System", "Authentications", etc.        </p>
        <a href="#" class="stretched-link btn btn-primary">Try Free</a>
        </section>
    </section>    
</section>

