
<header>
  <app-navigation></app-navigation>
  <section class="bg-light text-center">
    <h5 class="text-secondary p-3 m-0">HOME</h5>
  </section>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <section class="row theme">

          <div class="col-8 hero-content-wrapper align-self-center">
            <div class="hero-content text-white">
              <h3 class="hero-content__title">Build Your Website | Today</h3>
              <p class="hero-content__subtitle">Fast, secure and afforable all in one solution for you. </p>
            </div>
          </div>
        </section>
        
      </div>
    </div>
  </div>
</header>

<main>
  <section class="container-fluid bg-light mb-4">
    <nav class="navigation">
      <section class="row">
        <section class="col-xs-12 col-md-3">

          <div class="dropdown btn-click">
            <button class=" btn btn-service fluid" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <h6>UX Design</h6>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </section>
        <section class="col-xs-12 col-md-3">
          <div class="dropdown btn-click">
            <button class=" btn btn-service fluid" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <h6>Website</h6>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </section>
        <section class="col-xs-12 col-md-3">
          <div class="dropdown btn-click">
            <button class=" btn btn-service fluid" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <h6>Intergration</h6>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </section>
        <section class="col-xs-12 col-md-3">
          <div class="dropdown btn-click">
            <button class=" btn btn-service fluid" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <h6>Learn</h6>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </section>
      </section>
    </nav>
  </section>
  <section class="container text-center">
    <section class="row">

      <section class="col-xs-12 col-md-6 col-lg-3">
        <div class="feature">
          <img src="../assets/img/icons/globe-solid.svg" class="feature__image mb-2" width="60" alt="">
          <h5 class="feature__title">Website</h5>
          <p class="feature__content">Build Fast, sucure, CMS based websites pre-built or custumized to fit your needs.</p>
        </div>
      </section>
      
      <section class="col-xs-12 col-md-6 col-lg-3">
        <div class="feature">
          <img src="../assets/img/icons/umbraco-brands.svg" class="feature__image mb-2" width="60" alt="">
          <h5 class="feature__title">CMS Intergration</h5>
          <p class="feature__content">Intergrate a content manangement system into a existing website, no need to keep hiring programmer.</p>
        </div>
      </section>
  
      <section class="col-xs-12 col-md-6 col-lg-3">
        <div class="feature">
          <img src="../assets/img/icons/github-icon.svg" class="feature__image mb-2" width="60" alt="">
          <h5 class="feature__title">Developer</h5>
          <p class="feature__content">Learn cutting edge web technology with our videos, articles courses and tutuerials free to you.</p>
        </div>
      </section>
  
      <section class="feature col-xs-12 col-md-6 col-lg-3">
        <img src="../assets/img/icons/github-icon.svg" class="feature__image mb-2" width="60" alt="">
        <h5 class="feature__title">Hire</h5>
        <p class="feature__content">Learn cutting edge web technology with our videos, articles courses and tutuerials free to you.</p>
      </section>
    </section>
  </section>

  <!-- Section service banners -->
  <div class="row g-0 bg-light position-relative mb-3">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="../assets/img/s.png" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0 align-self-center">
      <h5 class="mt-0 mb-3">Tooensure Web Service | Welcome</h5>
      <p>
        Our skilled UX Designers are here waiting for you. Request after request. Make your dreams come true. We're here to make sure your journey is as afforable as possible, Offering a wide scale of services and 24hr email support. 
      </p>
      <a href="#" class="stretched-link btn btn-primary">Learn More</a>
    </div>
  </div>

  <!-- Section service banners -->
  <div class="row g-0 bg-light position-relative mb-3">
    <div class="col-md-6 mb-md-0 p-md-4 order-2">
      <img src="../assets/img/logo-cub.jpg" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-4 align-self-center order-1">
      <section class="container">
        <h5 class="mt-0 mb-3">We Build Dreams | Services</h5>
        <p>
          Host your website free, no monthly fees. Add additional services, features or intergrations, such as a "Content Mangement System", "Authentications", etc.        </p>
        <a href="#" class="stretched-link btn btn-primary">Try Free</a>
      </section>
    </div>
  </div>

    <!-- Social Links -->
    <section class="container text-center">
      <section class="row">
  
        <section class="col-xs-12 col-md-6 col-lg-3">
          <a href="https://www.facebook.com/tooensure/" class="reset-link">
            <div class="feature">
              <img src="../assets/img/social-media/facebook-square-brands.svg" class="feature__image mb-2" width="60" alt="">
              <h5 class="feature__title">Facebook</h5>
            </div>
          </a>
        </section>
        <!-- https://www.instagram.com/tooensurellc/ -->
        <section class="col-xs-12 col-md-6 col-lg-3">
          <a href="https://www.instagram.com/tooensurellc/" class="reset-link">
            <div class="feature">
              <img src="../assets/img/social-media/instagram-square-brands (1).svg" class="feature__image mb-2" width="60" alt="">
              <h5 class="feature__title">Instagram</h5>
            </div>
          </a>
        </section>
    <!-- https://twitter.com/ -->
        <section class="col-xs-12 col-md-6 col-lg-3">
          <a href="https://twitter.com/" class="reset-link">
            <div class="feature">
              <img src="../assets/img/social-media/twitter-square-brands.svg" class="reset-link feature__image mb-2" width="60" alt="">
              <h5 class="feature__title">Twitter</h5>
            </div>
          </a>
        </section>
    <!-- https://www.youtube.com/channel/UCJhMqAFI5-rgJCTFXVhbmjw -->
        <section class="feature col-xs-12 col-md-6 col-lg-3">
          <a href="https://www.youtube.com/channel/UCJhMqAFI5-rgJCTFXVhbmjw" class="reset-link">
            <img src="../assets/img//social-media/youtube-brands.svg" class="feature__image mb-2" width="60" alt="">
            <h5 class="feature__title reset-link">Youtube</h5>
          </a>
        </section>
      </section>
    </section>

  <!-- <section class="container">
    <section class="row">
      <section class="col-12 rounded bg-info">
        <div class="d-flex gap-2 align-items-center p-2">
          <img src="../assets/img/icons/car-side-solid.svg" width="25" alt="">
          <p class="m-0">Our Site | Great Features | On The Way !</p>
        </div>
      </section>
      <section class="col-12 rounded bg-warning">
        <div class="d-flex gap-2 align-items-center p-2">
          <img src="../assets/img/icons/car-side-solid.svg" width="25" alt="">
          <p class="m-0">Site Maintenance ~ We'll be back soon</p>
        </div>
      </section>
    </section>
  </section> -->



</main>
<footer>
  <section class="container-fluid bg-dark">
    <section class="row">
      <section class="col-xs-6 col-sm-6 col-md-3 mt-5">
        <img src="../assets/img/brand/TooensureLight.png" class="w-50" alt="">
        <p>Copyright</p>
      </section>
    </section>
  </section>
</footer>