
<!-- HERO IMAGE -->
<section class="container-fluid">
  <app-hero [element]="heroContents"></app-hero>
</section>

<div class="container-fluid alert alert-primary alert-dismissible fade show d-flex d-flex align-items-center mb-0" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <div>
    <b>Site</b> : New Features | On The Way !
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- SERVICE BANNER -->
<section class="container-fluid bg-light text-center text-Secondary mb-4">
    <app-service-banner class="row"></app-service-banner>
</section>

<!-- FEATURE BANNER -->
<section class="container text-center">
    <app-feature></app-feature>
</section>

<!-- PROMO BANNER -->
<section class="container-fluid">
    <app-promote-banner></app-promote-banner>
</section>  
  
<!-- SOCIAL MEDIA LINKS-->
<!-- <app-social-media></app-social-media> -->
  
       