/* You can add global styles to this file, and also import other style files */


h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

.btn-click {
    &:hover {
        background-color: rgba(206, 206, 206, 0.719);
    }
}

.reset-link {
    text-decoration: none;
    color: black;
}
