/* You can add global styles to this file, and also import other style files */
.theme {
    background: url("/assets/img/backgrounds/theme-background.png");
    background-size: cover;
    height: 30vw;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

.active-nav {
    border-bottom: 3px solid #a7586c;
}

.btn-click {
    &:hover {
        background-color: rgba(206, 206, 206, 0.719);
    }
}

.reset-link {
    text-decoration: none;
    color: black;
}